{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/main_style.css' %}?v=2" />
  <link rel="icon" type="image/png" href="{% static 'imgs/menu_icons/hamburger_11.png' %}">
  <script>
    const staticHamburgerPrefix = "{% static 'imgs/menu_icons/' %}";
  </script>
  <script src="{% static 'js/main_script.js' %}?v=2" defer></script>
  <title>Dashboard - Burgerkarte</title>
  <style>
    .week-view {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 15px;
      margin-top: 15px;
    }

    @media (max-width: 1200px) {
      .week-view {
        grid-template-columns: 1fr;
      }
    }

    .weekday {
      background-color: var(--dashboard-bg);
      color: var(--dashboard-font);
      padding: 15px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 4px 8px var(--shadow);
      font-size: 24px;
      font-weight: bold;
      position: relative;
    }

    .event {
      display: block;
      font-size: 16px;
      margin-top: 10px;
      background-color: var(--highlight-info);
      color: var(--highlight-font);
      padding: 5px;
      border-radius: 5px;
    }

    .no_event {
      color: var(--dashboard-font);
      font-size: 16px;
      margin-top: 10px;
      font-style: italic;
      font-weight: normal;
    }
  </style>
</head>

<body>
  <div class="navbar">
    <div class="navbar_hide_button"><img src="{% static 'imgs/close.png' %}"></div>
    <h1>Burgerkarte</h1>
    <h2>User Interface</h2>
    <div class="navbar_container">
      <div class="navbar_items">
        <a class="navbar_item selected" href="/user_dashboard">
          <img><p>Dashboard</p>
        </a>
        <a class="navbar_item" href="/bibliothek">
          <img><p>Bibliothek</p>
        </a>
        <a class="navbar_item" href="/tickets">
          <img><p>Tickets</p>
        </a>
        <a class="navbar_item" href="/bezahlkarte">
          <img><p>Bezahlkarte</p>
        </a>
        <a class="navbar_item" href="/termine">
          <img><p>Termine</p>
        </a>
        <a class="navbar_item" href="/historie">
          <img><p>Historie</p>
        </a>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="navbar_show_button"><img src="{% static 'imgs/menu_icons/hamburger_11.png' %}" /></div>
    <div class="topbar">
      <h1>Willkommen zurück, {{ request.session.user_name }}!</h1>
      <div class="usermenu_show_button"><img src="{% static 'imgs/user.png' %}" /><p>{{ request.session.user_name }}</p></div>
      <div class="usermenu">
        <a href="{% url 'logout' %}" class="usermenu_button">Abmelden</a>
      </div>
    </div>

    {% if messages %}
      <div class="message_container">
        {% for message in messages %}
            {% if message.tags == 'error' %}
              <div class="message danger hidden">
                <img src="{% static 'imgs/error.png' %}" alt="Error">
                <p>{{ message }}</p>
              </div>
            {% elif message.tags == 'success' %}
              <div class="message success hidden">
                <img src="{% static 'imgs/success.png' %}" alt="Success">
                <p>{{ message }}</p>
              </div>
            {% elif message.tags == 'warning' %}
              <div class="message warning hidden">
                <img src="{% static 'imgs/warning.png' %}" alt="Warning">
                <p>{{ message }}</p>
              </div>
            {% elif message.tags == 'info' %}
              <div class="message info hidden">
                <img src="{% static 'imgs/info.png' %}" alt="Info">
                <p>{{ message }}</p>
              </div>
            {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="card">
      <div class="header">
        <img src="{% static 'imgs/world.png' %}" alt="Dashboard">
        <h1>Dein Dashboard</h1>
      </div>
      <p>Auf deinem Dashboard siehst du, was gerade so läuft: Ob ein gebuchter Termin, ein ausgeliehenes Buch, dein ÖPNV-Ticket oder das Guthaben für die nächste Pommes im Freibad - deine Bürgerkarte hat's drauf. Deine Bürgerkarte ist dein Schlüssel zur Stadt - und das hier ist dein digitales Zuhause.</p>
    </div>

    <div class="actions">
      <a class="action_item" href="/bibliothek">
        <img src="{% static 'imgs/books.png' %}" alt="Bibliothek">
        <p>Bibliothek</p>
      </a>
      <a class="action_item" href="/tickets">
        <img src="{% static 'imgs/ticket.png' %}" alt="Tickets">
        <p>Tickets</p>
      </a>
      <a class="action_item" href="/bezahlkarte">
        <img src="{% static 'imgs/money_cards.png' %}" alt="Bezahlkarte">
        <p>Bezahlkarte</p>
      </a>
      <a class="action_item" href="/termine">
        <img src="{% static 'imgs/calendar.png' %}" alt="Termine">
        <p>Termine</p>
      </a>
      <a class="action_item" href="/historie">
        <img src="{% static 'imgs/history.png' %}" alt="Historie">
        <p>Historie</p>
      </a>
    </div>

    <div class="dashboard">
      <div class="dashboard_item">
        <div class="header"><h1>Anmeldung</h1></div>
        <p>Deine User-ID: <span class="bold"> {{ request.session.user_id }}</span></p>
      </div>
      <div class="dashboard_item">
        <div class="header"><h1>Bibliothek</h1></div>
        <p>Ausgeliehene Bücher: <span class="bold">{{ anzahl_buecher }}</span></p>
        <p>Offene Mahngebühren: <span class="bold {{ gebuehren_status }}">{{ gebuehren }}</span></p>
      </div>
      <div class="dashboard_item">
        <div class="header"><h1>Aktuelles Ticket</h1></div>
        {% if aktuelles_ticket %}
          <p><span class="bold">{{ aktuelles_ticket.typ }}</span> ({{ aktuelles_ticket.preis }})</p>
          <p>Gültig ab: <span class="bold">{{ aktuelles_ticket.gültigkeit }}</span></p>
        {% else %}
          <p>Kein aktives Ticket</p>
        {% endif %}
      </div>
      <div class="dashboard_item">
        <div class="header"><h1>Bezahlkarte</h1></div>
        <p>Aktueller Kontostand: <span class="bold {{ kontostand_status }}">{{ kontostand }}</span></p>
        <p>Letzte Aufladung: <span class="bold">{{ letzte_aufladung }}</span></p>
      </div>
    </div>

    <div class="card">
      <div class="header">
        <img src="{% static 'imgs/calendar.png' %}" />
        <h1>Woche vom {{ start_of_week|date:"d.m.Y" }} bis {{ end_of_week|date:"d.m.Y" }}</h1>
      </div>
      <div class="week-view_wrapper">
        <div class="week-view">
          {% for tag, events in termine_der_woche.items %}
            <div class="weekday">
              {{ tag }}
              {% for eintrag in events %}
                <span class="event">{{ eintrag }}</span>
              {% empty %}
                <p class="no_event">Keine Termine</p>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
